* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-heading {
    text-align: center;
    font-size: x-large;
    letter-spacing: 0.3px;
    color: #222222;
    opacity: 1;
    flex: 7;
}

.product-here{
    flex-direction: row;
}

.product-cards {
    padding: 66px 20px !important;
    margin: 10px;
    max-width: 23.125rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 40px 40px 4px 40px;
    opacity: 1;
}

.product-cards:hover{
    box-shadow: 0px 15px 30px #3F246429;
}

.card-body {
    text-align: left;
    letter-spacing: 0.2px;
    color: #838383;
    opacity: 1;
}

.learn-more {
    text-decoration: none;
    color: #0F32C5;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: uppercase;
    /* opacity: 1  */
    background-color: white !important;
    border-top: none !important;
}

@media (max-width: 1060px) {
    .product-here{
        flex-direction: column;
        align-items: center;
    }

    .product-cards{
        max-width: 80%;
    }
}